accelerate==1.0.1
arxiv==1.4.7
beautifulsoup4==4.12.3
bitsandbytes==0.42.0
datasets==2.18.0
evaluate==0.4.0
huggingface-hub==0.27.1
jsonlines==4.0.0
langchain==0.0.353
ninja==1.11.1.1
nltk==3.8.1
openai==0.27.8
openpyxl==3.1.2
optimum
pandas==2.0.3
peft==0.13.2
psutil==6.1.1
pydantic==2.6.2
rouge-score==0.1.2
sentencepiece==0.2.0
spacy==3.6.1
shortuuid==1.0.13
tiktoken==0.4.0
tqdm==4.65.0
transformers==4.46.3
trl==0.11.4
wandb==0.19.3
XlsxWriter==3.1.2